
@model NotesListViewModel

@foreach (var note in Model.Notes)
{
    <h2>@note.Title</h2>
    <p>@note.Description</p>
    <a asp-controller="Note" asp-area="" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
    <a asp-controller="Note" asp-area="" asp-action="Delete" asp-route-id="@note.Id">Delete</a>
}

<br />
<br />
<a asp-controller="Note" asp-action="Create" asp-area="">Add new</a>
