
@model NotesListViewModel

<h3>Notes Board</h3>

<br />
<div class="row">
   @foreach (var note in Model.Notes)
    {
         <div class="col-sm-6 col-md-6 col-lg-4">
            <partial name="_NoteCardPartial" model="@note"/>
            <br />
         </div>

    }
</div>

<br />
<a asp-controller="Note" asp-action="Create" asp-area="" class="btn btn-info">Add new</a>



