@model UserDetailsViewModel<table class="table table-condensed table-bordered">
        <tr>
            <th>Full Name</th>

            <th>User ID</th>
            <th>User name</th>
            <th>Email</th>
        </tr>        <tr>            <td>@Model.FullName</td>            <td>@Model.Id</td>            <td>@Model.UserName</td>            <td>@Model.Email</td>        </tr></table>